body{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location{
    font-weight: bold;
    font-size: 1.15em;
}

#weather-main{
    font-size: 0.9em;
}

#weather-icon{
    
}








#weather-logo{
    margin-top: 50px;
    width: 20%;
    height:80px;
}

